<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sick Leave Form</title>
</head>
<body>
<div th:replace="~{fragments/nav :: navbar}"></div>

<h2>Sick Leave Form</h2>

<form th:action="@{/sick-leaves/save}" th:object="${sickLeave}" method="post">
    <input type="hidden" th:field="*{id}"/>

    <label>Start Date</label>
    <input type="date" th:field="*{startDate}"/>
    <span th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}"></span><br/>

    <label>Number of Days</label>
    <input type="number" th:field="*{numberOfDays}"/>
    <span th:if="${#fields.hasErrors('numberOfDays')}" th:errors="*{numberOfDays}"></span><br/>

    <label>Visit</label>
    <select th:field="*{visitId}">
        <option value="">-- Select Visit --</option>
        <option th:each="visit : ${visits}"
                th:value="${visit.id}"
                th:text="${visit.date + ' - Patient: ' + visit.patientId + ' - Doctor: ' + visit.doctorId}">
        </option>
    </select>
    <span th:if="${#fields.hasErrors('visitId')}" th:errors="*{visitId}"></span><br/>

    <button type="submit">Save</button>
</form>
</body>
</html>
